.section{
    height:100vh;
    background-color: #ff5f45;
}
.contents{
    width:100%;
    position: absolute;
    top:32%;
}
.title{
    display: block;
    width:100%;
    color:white;
    font-size: 9rem;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
}
.description{
    color:white;
    font-size: 2rem;
    text-align: center;
}

