
#navigation{
    display: flex;
    position: fixed;
    top:2%;
    right:25%;
    z-index:100;
}
#div:after{
    display:block;/*a요소를 블록 요소라고 선언*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}
#div:hover:after{
    transform: scaleX(1);
}

#div{
    font-size: 1rem;
    text-align: center;
    color:white;
    padding:1rem;
    text-decoration: none;
}

@media (max-width:768px){
    #navigation{
        width:100%;
        left:0%;
        font-size:0.5rem;
    }
}
