#left, #right{
    display: inline-block;
    position: relative;
    top:calc(50% - 7rem);
    text-decoration: none;
}
#left{

}
#right{
    left:calc(100% - 28rem);
}
#leftArrow{
    transform: rotate(0.5turn);
    width:14rem;
}
#rightArrow{
    width:14rem;
}
