.section{
    position:relative;
    height:100vh;
    background-color: #fec401;
}
#left{
    position: absolute;
    top:30%;
    right:calc(100vw - 10%);
    z-index: 90;
    cursor:pointer;
}
#right{
    position: absolute;
    top:30%;
    left:calc(100vw - 10%);
    z-index: 90;
    cursor:pointer;
}
#leftArrow{
    width:12rem;
    transform:rotate(0.5turn)
}
#rightArrow{
    width:12rem;
}
.contents{
    display:flex;
    flex-direction: row;
    position:absolute;
    top:20%;
    left:15%;
    height:80%;
    width:70%;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    z-index:0;
    scroll-behavior: smooth;
}

.contents > *{ 
    flex: 0 0 100%;
    scroll-snap-align: start;
}
.contents::-webkit-scrollbar {
}
