.section{
    height:100vh;
    background-color: #fec401;
}

.contents{
    display:flex;
    flex-direction: row;
    position:relative;
    top: 20%;
    height:60%;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}
#left{
    transform: rotate(0.5turn) scale(0.1);
    
}
#right{
    transform: scale(0.5);
}

.contents > div{ 
    flex: 0 0 100%;
    scroll-snap-align: start;
}
.contents::-webkit-scrollbar {
    display: none;
}
.card>img{
    position: relative;
    top:10%;
    left:30%;
    height:200px;
}
